#postJersey {
	display: block;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 30px;
	margin-bottom: 10px;
}

#emailJersey {
	display: block;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 30px;
	margin-bottom: 10px;
}

#postGuernsey {
	display: block;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 30px;
	margin-bottom: 10px;
}

#emailGuernsey {
	display: block;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 30px;
	margin-bottom: 10px;
}

#postIom {
	display: block;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 30px;
	margin-bottom: 10px;
}

#emailIom {
	display: block;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 30px;
	margin-bottom: 10px;
}