// Colors
$blue: #6ebdd2;
$red: #d93f51;
$grey: #666666;
$midgrey: #dddddd;
$lightgrey: #f2f2f2;
$yellow: #f3da49;
$green: #009a51;
$businessBlue: #019ec9;
$purple: #6a358f;
$orange: #df7d1a; 

@import "settings";
@import "foundation";
@import "layout";
